body {
    background: #f5f7fa !important;
}


.card-custom {
    background: rgba(190, 185, 185, 0.301);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(29, 60, 110, 0.05);
    border: 1px solid rgba(29, 60, 110, 0.1);
    transition: transform 0.3s ease;
}
.card-custom:hover {
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(29, 60, 110, 0.2);
    border-color: #2c5692;
}
.btn-custom {
    background: linear-gradient(135deg, #1D3C6E, #2c5692);
    color: white;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    font-weight: 600;
    transition: all 0.3s ease;
}
.btn-custom:hover {
    background: linear-gradient(135deg, #2c5692, #1D3C6E);
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(29, 60, 110, 0.3);
}
.form-control {
    border: 2px solid #eee;
    border-radius: 12px;
    padding: 12px;
    transition: all 0.3s ease;
}
.form-control:focus {
    border-color: #1D3C6E;
    box-shadow: 0 0 0 0.2rem rgba(29, 60, 110, 0.25);
}
.table {
    border: 1px solid rgba(29, 60, 110, 0.1);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(29, 60, 110, 0.05);
}
.table thead th {
    background: #4b75b5;
    padding: 12px 15px;
}
.table tbody td {
    padding: 15px;
    vertical-align: middle;
}